  .myDiv{
    width:100%;
    height:150px;
    background:gray;
  }
  .myDivChild{
    text-align: center;
    width:100%;
    height:50px;
    background: yellowgreen; 
  }
  .myDivResult{
    text-align: center;
    width:100%;
    height:635px;
    background:turquoise;
  }

  select, input {
    width: 100%;
  }
  .input {
    width: 100%;
   }

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -150px 10px 0px -100px;
    z-index: 9;
    width: 200px; 
    height: 200px;
    background: #F0FFFF; 
    border: 2px solid #1E90FF; 
    text-align: center;
    overflow: hidden;
    position: relative; 
    border-radius: 50%;
}

