  .myDiv{
    width:100%;
    height:140px;
    background:#4ca0f9;
    border: 2px solid #4ca0f9;
    border-radius: 2%;
  }
  .myDivChild{
    text-align: center;
    width:100%;
    height:30px;
    background: yellowgreen;
    border-radius: 3%;
  }
  .myDivResult{
    text-align: center;
    width:100%;
    height:670px;
    background:#978ea7;
  }
  .myDivResultChild{
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: left;
    width:90%;
    height:220px;
    background:#d6dbdf;
  }

  select, input {
    width: 100%;
  }
  .input {
    width: 100%;
   }

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -150px 10px 0px -100px;
    z-index: 9;
    width: 200px; 
    height: 200px;
    background: #F0FFFF; 
    border: 2px solid #1E90FF; 
    text-align: center;
    overflow: hidden;
    position: relative; 
    border-radius: 50%;
}

div.ex1 {
  width: 100%;
  height: 300px;
  overflow: scroll;
}

div.condition {
  width: 100%;
  height: 650px;
  overflow: scroll;
}

.divLogin {
  width:50%;
  height:400px;
  background:#d6dbdf;
  border: 2px solid #978ea7;
  border-radius: 2%;
  margin-left: 25%;
}
.divLoginChild{
  text-align: center;
  width:100%;
  height:30px;
  background: #978ea7;
  border-radius: 3%;
}

.divRegister {
  width:60%;
  height:400px;
  background:#d6dbdf;
  border: 2px solid #978ea7;
  border-radius: 2%;
  margin-left: 25%;
  margin-top: 10%;
}
.divRegisterChild{
  text-align: center;
  width:100%;
  height:30px;
  background: #978ea7;
  border-radius: 3%;
}	
.modal-dialog {
    width: 1000px;
    background-color:#337AB7;
  }
 
.modal-header {
    width: 1000px;
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
    text-align: center;
 }

 .modal-content{
   width: 1000px;
 }

 .modal{
   margin-left: -25%;
 }

 .modal-dialog {
  width: 1000px;
  background-color:#337AB7;
}

/* forum */
.divForum {
  height:680px;
  background:#d6dbdf;
  border: 2px solid #978ea7;
  /* border-radius: 2%; */
}
.divForumChild{
  text-align: center;
  height:50px;
  background: #978ea7;
  /* border-radius: 3%; */
}

/* Post User */

.content {
  margin-top: 80px;
  background:#dbf308;
  height: 600px;
  overflow: scroll;
  /* border: 2px solid #978ea7; */
  /* border-radius: 2%; */
}

.divPostUser {
  /* margin-top: 80px; */
  background:#d6dbdf;
  border: 2px solid #978ea7;
  border-radius: 1%;
}
.divPostUserHeader{
  text-align: center;
  height:50px;
  width:100%;
  background: #f04c00;
  border-radius: 2%;
}

.divPostUserContent{
  text-align: left;
  height:auto;
  width:100%;
  background: #0aeb0a;
  /* border-radius: 3%; */
}

.divPostUserFooter{
  text-align: left;
  height:auto;
  width:100%;
  background: #23f090;
  /* border-radius: 3%; */
}

td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #978ea7;
  color: white;
}